@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet');
body {
  overflow: hidden;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* header */
header {
  /* position: relative; */
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 9;
}
header > .inner {
  height: 120px;
}
header .main-logo {
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menus {
  position: absolute;
  top: 10px;
  right: 0;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}


.main-container {
  height: 100vh;
  background-color: #c0b2ac;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.main-container .title-container {
  font-size: 60px;
  font-family: 'Jua', sans-serif;
  margin-top: 80px;
  margin-bottom: 45px;
  padding-bottom: 2px;
  border-bottom: 5px solid #614032;
}

.main-container .option-container {
  display: flex;
}

.main-container .option-container .first-container img{
  width: 600px;
  height: 600px;
}
.main-container .option-container .first-container img:hover{
  width: 600px;
  height: 600px;
  background-color: #f6f5f0;
  box-sizing: border-box;
  border: 7px inset #614032 ;
  border-radius: 20px;
  transition: 2;
}

.main-container .option-container .blank {
  width: 20px;
}


.main-container .option-container .second-container img{
  width: 600px;
  height: 600px;
}
.main-container .option-container .second-container img:hover{
  width: 600px;
  height: 600px;
  background-color: #f6f5f0;
  box-sizing: border-box;
  border: 7px inset #614032 ;
  border-radius: 20px;
}