@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet');
body {
  overflow: hidden;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration-line: none;
}

/* header */
header {
  /* position: relative; */
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 9;
}
header > .inner {
  height: 120px;
}
header .main-logo {
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menus {
  position: absolute;
  top: 10px;
  right: 0;
}

header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

.main-container {
  height: 100vh;
  background-color: #c0b2ac;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container .title-container {
  font-size: 50px;
  font-family: "Jua", sans-serif;
  margin-top: 100px;
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: 5px solid #614032;
}

.main-container .restaurant-container {
  font-size: 50px;
  font-family: "Jua", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: 5px solid #614032;
}

.main-container .map-container {
  display: flex;
}

.main-container .map-container .first-container img {
  width: 600px;
  height: 600px;
}
.main-container .map-container .first-container img:hover {
  width: 600px;
  height: 600px;
  background-color: #f6f5f0;
  box-sizing: border-box;
  border: 7px inset #614032;
  border-radius: 20px;
  transition: 2;
}

.main-container .map-container .blank {
  width: 20px;
}

.main-container .map-container .second-container img {
  width: 600px;
  height: 600px;
}
.main-container .map-container .second-container img:hover {
  width: 600px;
  height: 600px;
  background-color: #f6f5f0;
  box-sizing: border-box;
  border: 7px inset #614032;
  border-radius: 20px;
}

.main-container .map-container .map {
  box-sizing: content-box;
  border: 1px inset black;
  border-radius: 20px;
}

.main-container .btn-container {
  display: flex;
}
.main-container .blank-container {
  width: 20px;
}

.btn {
  width: 130px;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
  z-index: 10;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.hidden {
  visibility: none;
}
